node_modules
dist
.next
.pnpm-store
coverage
.env
money-key.pem
.agent
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.lock.hcl
.Jules
.jules
.github
package-lock.json
frontend/.next
frontend/package-lock.json
